*.log
*.pot
*.pyc
settings_*.py
!deployment/settings/*.py
.idea
.project
__pycache__
.pydevproject
*~
.settings
*.mo
synctool/*
.coverage
.vagrant
docs/build
*.egg-info
test/*
build/*
*.egg
*.so
*.dylib
