Source: gitfs
Maintainer: PressLabs <ping@presslabs.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7.4.3),
    python-fusepy, python-pygit2, python-all-dev
Standards-Version: 3.9.3

Package: gitfs
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, python-setuptools
Description: Mount git repositories as local folders
 gitfs is a FUSE file system that fully integrates with git. You can mount a
 remote repository's branch locally, and any subsequent changes made to the
 files will be automatically committed to the remote.
