@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,800);
@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

  @import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,800);/*!
  Theme Name: Presslabs
  Theme URI: https://www.presslabs.com/
  Author: the Presslabs team
  Author URI: https://www.presslabs.com/
  Description: Our 2017 default theme
  Version: 5.0
  License: GNU General Public License v2 or later
  License URI: http://www.gnu.org/licenses/gpl-2.0.html
  Tags: blog, two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
  Text Domain: presslabs
  */
  /*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
  /* Document
         ========================================================================== */
  /**
       * 1. Change the default font family in all browsers (opinionated).
       * 2. Correct the line height in all browsers.
       * 3. Prevent adjustments of font size after orientation changes in
       *    IE on Windows Phone and in iOS.
       */
  html {
    font-family: sans-serif;
    /* 1 */
    line-height: 1.15;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 3 */
    -webkit-text-size-adjust: 100%;
    /* 3 */ }

  /* Sections
         ========================================================================== */
  /**
       * Remove the margin in all browsers (opinionated).
       */
  body {
    margin: 0; }

  /**
       * Add the correct display in IE 9-.
       */
  article,
  aside,
  footer,
  header,
  nav,
  section {
    display: block; }

  /**
       * Correct the font size and margin on `h1` elements within `section` and
       * `article` contexts in Chrome, Firefox, and Safari.
       */
  h1 {
    font-size: 2em;
    margin: 0.67em 0; }

  /* Grouping content
         ========================================================================== */
  /**
       * Add the correct display in IE 9-.
       */
  figcaption,
  figure {
    display: block; }

  /**
       * Add the correct margin in IE 8.
       */
  figure {
    margin: 1em 40px; }

  /**
       * 1. Add the correct box sizing in Firefox.
       * 2. Show the overflow in Edge and IE.
       */
  hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */ }

  /**
       * Add the correct display in IE.
       */
  main {
    display: block; }

  /**
       * 1. Correct the inheritance and scaling of font size in all browsers.
       * 2. Correct the odd `em` font sizing in all browsers.
       */
  pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */ }

  /* Links
         ========================================================================== */
  /**
       * 1. Remove the gray background on active links in IE 10.
       * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
       */
  a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */ }

  /**
       * Remove the outline on focused links when they are also active or hovered
       * in all browsers (opinionated).
       */
  a:active,
  a:hover {
    outline-width: 0; }

  /* Text-level semantics
         ========================================================================== */
  /**
       * 1. Remove the bottom border in Firefox 39-.
       * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
       */
  abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */ }

  /**
       * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
       */
  b,
  strong {
    font-weight: inherit; }

  /**
       * Add the correct font weight in Chrome, Edge, and Safari.
       */
  b,
  strong {
    font-weight: bolder; }

  /**
       * 1. Correct the inheritance and scaling of font size in all browsers.
       * 2. Correct the odd `em` font sizing in all browsers.
       */
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */ }

  /**
       * Add the correct font style in Android 4.3-.
       */
  dfn {
    font-style: italic; }

  /**
       * Add the correct background and color in IE 9-.
       */
  mark {
    background-color: #ff0;
    color: #000; }

  /**
       * Add the correct font size in all browsers.
       */
  small {
    font-size: 80%; }

  /**
       * Prevent `sub` and `sup` elements from affecting the line height in
       * all browsers.
       */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }

  sub {
    bottom: -0.25em; }

  sup {
    top: -0.5em; }

  /* Embedded content
         ========================================================================== */
  /**
       * Add the correct display in IE 9-.
       */
  audio,
  video {
    display: inline-block; }

  /**
       * Add the correct display in iOS 4-7.
       */
  audio:not([controls]) {
    display: none;
    height: 0; }

  /**
       * Remove the border on images inside links in IE 10-.
       */
  img {
    border-style: none; }

  /**
       * Hide the overflow in IE.
       */
  svg:not(:root) {
    overflow: hidden; }

  /* Forms
         ========================================================================== */
  /**
       * 1. Change the font styles in all browsers (opinionated).
       * 2. Remove the margin in Firefox and Safari.
       */
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */ }

  /**
       * Show the overflow in IE.
       */
  button {
    overflow: visible; }

  /**
       * Remove the inheritance of text transform in Edge, Firefox, and IE.
       * 1. Remove the inheritance of text transform in Firefox.
       */
  button,
  select {
    /* 1 */
    text-transform: none; }

  /**
       * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
       *    controls in Android 4.
       * 2. Correct the inability to style clickable types in iOS and Safari.
       */
  button,
  html [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
    /* 2 */ }

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    /**
         * Remove the inner border and padding in Firefox.
         */
    /**
         * Restore the focus styles unset by the previous rule.
         */ }
    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
      border-style: none;
      padding: 0; }
    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
      outline: 1px dotted ButtonText; }

  /**
       * Show the overflow in Edge.
       */
  input {
    overflow: visible; }

  /**
       * 1. Add the correct box sizing in IE 10-.
       * 2. Remove the padding in IE 10-.
       */
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }

  /**
       * Correct the cursor style of increment and decrement buttons in Chrome.
       */
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto; }

  /**
       * 1. Correct the odd appearance in Chrome and Safari.
       * 2. Correct the outline style in Safari.
       */
  [type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
    /**
         * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
         */ }
    [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

  /**
       * 1. Correct the inability to style clickable types in iOS and Safari.
       * 2. Change font properties to `inherit` in Safari.
       */
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */ }

  /**
       * Change the border, margin, and padding in all browsers (opinionated).
       */
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }

  /**
       * 1. Correct the text wrapping in Edge and IE.
       * 2. Correct the color inheritance from `fieldset` elements in IE.
       * 3. Remove the padding so developers are not caught out when they zero out
       *    `fieldset` elements in all browsers.
       */
  legend {
    box-sizing: border-box;
    /* 1 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    color: inherit;
    /* 2 */
    white-space: normal;
    /* 1 */ }

  /**
       * 1. Add the correct display in IE 9-.
       * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
       */
  progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */ }

  /**
       * Remove the default vertical scrollbar in IE.
       */
  textarea {
    overflow: auto; }

  /* Interactive
         ========================================================================== */
  /*
       * Add the correct display in Edge, IE, and Firefox.
       */
  details {
    display: block; }

  /*
       * Add the correct display in all browsers.
       */
  summary {
    display: list-item; }

  /*
       * Add the correct display in IE 9-.
       */
  menu {
    display: block; }

  /* Scripting
         ========================================================================== */
  /**
       * Add the correct display in IE 9-.
       */
  canvas {
    display: inline-block; }

  /**
       * Add the correct display in IE.
       */
  template {
    display: none; }

  /* Hidden
         ========================================================================== */
  /**
       * Add the correct display in IE 10-.
       */
  [hidden] {
    display: none; }

    @import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,800);
    @font-face {
      font-family: 'Presslabs-Particles';
      src: url(../fonts/Presslabs-Particles.eot);
      src: url(../fonts/Presslabs-Particles.eot#iefix) format("embedded-opentype"),
           url(../fonts/Presslabs-Particles.ttf) format("truetype"),
           url(../fonts/Presslabs-Particles.woff) format("woff"),
           url(../fonts/Presslabs-Particles.svg#Presslabs-Particles) format("svg");
      font-weight: normal;
      font-style: normal; }

    [class^="particle"], [class*=" particle"] {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'Presslabs-Particles' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Enable Ligatures ================ */
      letter-spacing: 0;
      -webkit-font-feature-settings: "liga";
      -moz-font-feature-settings: "liga=1";
      -moz-font-feature-settings: "liga";
      -ms-font-feature-settings: "liga" 1;
      font-feature-settings: "liga";
      -webkit-font-variant-ligatures: discretionary-ligatures;
      font-variant-ligatures: discretionary-ligatures;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }

    p {
      font-size: 16px;
      line-height: 1.7;
      font-weight: 300;
      color: #8A99A6; }

    li {
      font-weight: 300;
      color: #8A99A6;
      font-size: 16px;
      line-height: 27px; }

    a:not([class]) {
      font-weight: 300;
      color: #157CFF;
      text-decoration: none;
      transition: color ease .3s; }
      a:not([class]):hover {
        color: #539AFF; }
      a:not([class]):visited {
        color: #A598FF; }

    ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    ul:not([class]) {
      margin-left: 40px;
    }
    ul:not([class]) li {
      margin-bottom: 14px;
      position: relative; }
      ul:not([class]) li:before {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        top: 12px;
        left: -30px;
        border-top: 1px solid #AAAEBA; }

    ol:not([class]) li {
      margin-bottom: 14px;
    }
    h1 {
      font-size: 36.192px;
      line-height: 46.748px;
      font-weight: 400;
      color: #566A78;
      margin: 45.24px 0 22.62px 0; }
      h1:not([id]) + p {
        margin: 26.67px 0 44.45px;
        font-size: 17.78px;
        line-height: 30.226px; }
      h1:not([id]) + p + a {
        font-size: 20px;
        line-height: 34px; }
      h1 strong {
        font-weight: 800; }
      @media (min-width: 768px) {
        h1 {
          font-size: 48px;
          line-height: 62px;
          font-weight: 400;
          color: #566A78;
          margin: 60px 0 30px 0; }
          h1:not([id]) + p {
            margin: 30px 0 50px;
            font-size: 20px;
            line-height: 34px; }
          h1:not([id]) + p + a {
            font-size: 20px;
            line-height: 34px; } }

    h2 {
      font-size: 24.128px;
      line-height: 31.668px;
      font-weight: 400;
      color: #566A78;
      margin: 30.16px 0 15.08px 0; }
      h2:not([id]) + p {
        margin: 17.78px 0 35.56px;
        font-size: 16.002px;
        line-height: 26.67px; }
      h2:not([id]) + p + a {
        font-size: 16.002px;
        line-height: 26.67px; }
      h2 strong {
        font-weight: 800; }
      @media (min-width: 768px) {
        h2 {
          font-size: 32px;
          line-height: 42px;
          font-weight: 400;
          color: #566A78;
          margin: 40px 0 20px 0; }
          h2:not([id]) + p {
            margin: 20px 0 40px;
            font-size: 18px;
            line-height: 30px; }
          h2:not([id]) + p + a {
            font-size: 18px;
            line-height: 30px; } }

    h3 {
      font-size: 18.096px;
      line-height: 24.128px;
      font-weight: 400;
      color: #566A78;
      margin: 22.62px 0 15.08px 0; }
      h3:not([id]) + p {
        margin: 20px 0 30px;
        font-size: 16px;
        line-height: 27px; }
      h3:not([id]) + p + a {
        font-size: 16px;
        line-height: 27px; }
      h3 strong {
        font-weight: 800; }
      @media (min-width: 768px) {
        h3 {
          font-size: 24px;
          line-height: 32px;
          font-weight: 400;
          color: #566A78;
          margin: 30px 0 20px 0; }
          h3:not([id]) + p {
            margin: 20px 0 30px;
            font-size: 16px;
            line-height: 27px; }
          h3:not([id]) + p + a {
            font-size: 16px;
            line-height: 27px; } }

    h4 {
      font-size: 18px;
      line-height: 27px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #566A78;
      margin: 20px 0; }
      h4:not([id]) + p {
        margin: 20px 0;
        font-size: 16px;
        line-height: 27px; }
      h4:not([id]) + p + a {
        font-size: 16px;
        line-height: 27px; }
      h4 strong {
        font-weight: 800; }

    h5 {
      font-size: 14px;
      line-height: 27px;
      font-weight: 700;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: #566A78;
      margin: 0; }
      h5:not([id]) + p {
        margin: 0;
        font-size: 16px;
        line-height: 27px; }
      h5 strong {
        font-weight: 800; }

    .chip {
      border-radius: 50%;
      display: block;
      box-sizing: border-box;
      background-color: #fff;
      box-shadow: 0 10px 15px rgba(138, 153, 166, 0.15); }
      .chip.closer {
        box-shadow: 0 2px 7px rgba(138, 153, 166, 0.15); }
      .chip.small {
        width: 40px;
        height: 40px;
        padding: 10px; }
        .chip.small .particle {
          font-size: 20px;
          display: block;
          line-height: 20px; }
      .chip.medium {
        width: 60px;
        height: 60px;
        padding: 15px; }
        .chip.medium .particle {
          font-size: 30px;
          display: block;
          line-height: 30px; }
      .chip.large {
        width: 80px;
        height: 80px;
        padding: 20px; }
        .chip.large .particle {
          font-size: 40px;
          display: block;
          line-height: 40px; }
      .chip.green {
        background-color: #4DC74C;
        box-shadow: 0 10px 15px rgba(77, 199, 76, 0.15); }
        .chip.green .particle {
          color: #fff; }
        .chip.green.closer {
          box-shadow: 0 2px 7px rgba(138, 153, 166, 0.15); }
        .chip.green.light {
          background-color: #fff; }
          .chip.green.light .particle {
            color: #4DC74C; }
      .chip.indigo {
        background-color: #503AFF;
        box-shadow: 0 10px 15px rgba(80, 58, 255, 0.15); }
        .chip.indigo .particle {
          color: #fff; }
        .chip.indigo.closer {
          box-shadow: 0 2px 7px rgba(138, 153, 166, 0.15); }
        .chip.indigo.light {
          background-color: #fff; }
          .chip.indigo.light .particle {
            color: #503AFF; }
      .chip.lightblue {
        background-color: #00D0FF;
        box-shadow: 0 10px 15px rgba(0, 208, 255, 0.15); }
        .chip.lightblue .particle {
          color: #fff; }
        .chip.lightblue.closer {
          box-shadow: 0 2px 7px rgba(138, 153, 166, 0.15); }
        .chip.lightblue.light {
          background-color: #fff; }
          .chip.lightblue.light .particle {
            color: #00D0FF; }
      .chip.purple {
        background-color: #974FFF;
        box-shadow: 0 10px 15px rgba(151, 79, 255, 0.15); }
        .chip.purple .particle {
          color: #fff; }
        .chip.purple.closer {
          box-shadow: 0 2px 7px rgba(138, 153, 166, 0.15); }
        .chip.purple.light {
          background-color: #fff; }
          .chip.purple.light .particle {
            color: #974FFF; }
      .chip.teal {
        background-color: #25EB9E;
        box-shadow: 0 10px 15px rgba(37, 235, 158, 0.15); }
        .chip.teal .particle {
          color: #fff; }
        .chip.teal.closer {
          box-shadow: 0 2px 7px rgba(138, 153, 166, 0.15); }
        .chip.teal.light {
          background-color: #fff; }
          .chip.teal.light .particle {
            color: #25EB9E; }
      .chip.pink {
        background-color: #FF45A6;
        box-shadow: 0 10px 15px rgba(255, 69, 166, 0.15); }
        .chip.pink .particle {
          color: #fff; }
        .chip.pink.closer {
          box-shadow: 0 2px 7px rgba(138, 153, 166, 0.15); }
        .chip.pink.light {
          background-color: #fff; }
          .chip.pink.light .particle {
            color: #FF45A6; }

    body {
      font-family: 'Nunito Sans', sans-serif;
      color: #6A7287;
      font-size: 1rem;
      overflow-x: hidden;
      line-height: 1.5;
      font-weight: 300; }

.navbar-default {
  background: #4DC74C;
}
.navbar-default li a {
  font-size: 14px;
}
.navbar-default .navbar-nav > .active > a {
  background-color: #00B531;
}
.navbar-default .navbar-nav > li > a {
  padding-top: 22px;
  padding-bottom: 22px;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: #00B531 !important;
}
.navbar-nav .dropdown-menu {
  border-radius: 0 !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .dropdown-menu {
  background: #2C3656 !important;
}
.dropdown-submenu > a:after {
  border-left-color: #00D0FF;
}
.navbar-nav .dropdown-menu a:hover {
  background: #27304C !important;
}
.well.affix {
  background: #fff;
  border: none;
  box-shadow: none;
  border-left: 1px solid #F2F4F6;
}

.nav.bs-sidenav {
  margin-left: -1px;
}

.nav.bs-sidenav a {
  font-weight: 300;
  font-size: 14px;
  color: #B5C2CD;
}
.nav.bs-sidenav a:hover {
  font-weight: 300 !important;
  border-right: none !important;
  border-left: 1px solid #2C3656;
}
.nav.bs-sidenav .active a {
  color: #566A78;
  font-weight: 300;
  border-right: none;
  border-left: 1px solid #157CFF;
}
.nav.bs-sidenav a:hover {
  background: none;
  color: #157CFF;
  font-weight: 300 !important;
  border-right: none;
  border-left: 1px solid #157CFF;
}

.navbar-brand {
  padding: 15px 30px 15px 10px;
  vertical-align: middle;
}

.presslabs-logo {
  fill: #fff;
}

.navbar-brand svg {
  vertical-align: middle;
  height: 35px;
  font-size: 14px;
  width: auto;
}

.content-nav {
  margin-top: 40px;
  border-top: 1px solid #F2F4F6;
  display: flex;
}

.content-nav li {
  flex: 1;
}

.content-nav li a {
  color: #157CFF !important;
}

.content-nav li:last-child {
  text-align: right;
}

pre {
  color: #27304C;
  background-color: #F4F5F7;
  border-radius: 5px;
  border: 1px solid #DCE0E4;
}

pre code {
  font-size: 13px;
}

pre {
  margin-top: 25px;
  margin-bottom: 25px;
}

.hljs {
  color: #27304C !important;
}

footer {
  font-size: 14px;
  padding: 5rem 1.250rem 6.250rem;
  border-top: 0.063rem solid #E8EAED;
  background: #f6f7f8; }
  footer .wrapper {
    max-width: 1170px;
    margin: 0 auto;
  }
  footer .logo {
    color: #01B141;
    font-size: 40px;
    margin-top: -2.500rem; }
  footer .flag {
    color: #2C3656;
    margin-left: -22px;
    position: absolute; }
  footer .footer-sections {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
    footer .footer-sections .section {
      flex: 1 0 100%; }
      @media (min-width: 400px) {
        footer .footer-sections .section {
          flex: 1 0 50%; } }
      @media (min-width: 768px) {
        footer .footer-sections .section {
          flex: 1 0 33%; } }
      @media (min-width: 1024px) {
        footer .footer-sections .section {
          flex: 1 0 25%; } }
      @media (min-width: 1280px) {
        footer .footer-sections .section {
          flex: 1; } }
  footer p {
    margin: 1.250rem 1.250rem 1.250rem 0; }
  footer .eu {
    margin-left: 24px; }
  footer .eu .flag {
    font-size: 18px;
  }
  footer .footer-sections .section:first-child p {
    font-size: 12px; }
  footer h5 {
    margin-bottom: 20px;
  }
  footer ul {
    list-style: none;
    margin: 0 1.250rem 0 0;
    padding: 0; }
  footer ul li a {
    line-height: 1.6;
    font-size: 14px;
  }
  footer a:not(.button),
  footer a:not(.button):visited {
    text-decoration: none;
    color: #AAAEBA; }
    footer a:not(.button):hover {
      color: #6A7287; }
  footer .phone {
    display: block;
    margin: 1.250rem 0; }
  footer .button {
    padding-left: 1.250rem;
    padding-right: 1.250rem; }
  footer .socials::after {
    content: '';
    display: table;
    clear: both; }
  footer .socials li {
    float: left; }
  footer .socials a {
    display: block;
    font-size: 20px;
    margin-right: 5px;
    padding: 0.313rem; }
    footer .socials a .particle {
      display: block;
      margin: 0;
      width: 1.250rem;
      height: 1.250rem;
      white-space: nowrap;
      color: #41B3F9; }
    footer .socials a:hover .particle {
      color: #11A0F8; }


.button {
  padding: 10px 40px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  transition: all ease .3s;
  font-size: 14px;
  position: relative;
}

.button.button-primary {
  color: #fff;
  background: #00B531;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 10px rgba(0, 181, 49, .5);
}

.button.button-primary:hover {
  box-shadow: 0 5px 15px rgba(0, 181, 49, .5);
  text-decoration: none;
  transform: translateY(-2px);
}

.panel {
  box-shadow: none;
}

.panel-default {
  border: none;
}

.panel-heading, .panel-default > .panel-heading {
  border: none !important;
  background-color: transparent !important;
}

.panel-body {
  padding: 0;
  border: none !important;
}

.pages-nav {
  margin-top: 20px;
}

.pages-nav .panel .panel-heading {
  border-bottom: 1px solid #E8EAED !important;
}
.pages-nav .panel .panel-heading a {
  display: block;
  font-size: 14px;
  color: #157CFF;
  text-decoration: none;
}

.pages-nav .panel.active > .panel-heading a:after {
  content: " \2192";
  margin-left: 5px;
}

.pages-nav .panel-collapse .panel-default {
  margin-left: 10px;
}

.pages-nav .panel-heading a[href^="#"] {
  font-weight: 900;
  color: #566A78;
  position: relative;
}
.pages-nav .panel-heading a[href^="#"]:after {
  position: absolute;
  content: " ";
  width: 8px;
  height: 8px;
  display: block;
  right: 0;
  top: 50%;
  margin-top: -4px;
  border: 4px solid #BDC2CB;
  border-color: #BDC2CB #BDC2CB transparent transparent;
  transition: all ease .3s;
  transform: rotate(135deg);
}
.pages-nav .panel-heading a[href^="#"].collapsed:after {
  transform: rotate(45deg);
}

.main-content {
  margin-bottom: 100px;
}

.main-content img {
  max-width: 100%;
  height: auto;
}
